body {
	background-image: url('images/old_mathematics.png');
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: Helvetica;
}
div.separator {
	background-image: url('images/separator.png');
	margin: 6px auto;
	width: 600px;
	height: 2px;
}
div.clearFix {
	clear: both;
}
img {
	border: 0;
}
#container {
	background-color: white;
	margin: 0 auto;
	padding: 20px;
	width: 780px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 0 1px 6px #888;
	-moz-border-radius: 8px;
	-moz-box-shadow: 0 1px 6px #888;
	border-radius: 8px;
	box-shadow: 0 1px 6px #888;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#icon {
		content: url('images/icon-2x.png');
	}
}

a.btn {
	display: block;
	float: left;
	padding: 6px 10px;
	margin-right: 6px;
	border: 1px #666666 solid;
	background-image: -webkit-linear-gradient(#3a95db 0%, #2a6c9d 100%);
	background-image: -moz-linear-gradient(#3a95db 0%, #2a6c9d 100%);
	background-image: linear-gradient(#3a95db 0%, #2a6c9d 100%);
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px 1px black;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
a.btn:hover {
	background-image: -webkit-linear-gradient(#2670a8 0%, #144469 100%);
	background-image: -moz-linear-gradient(#2670a8 0%, #144469 100%);
	background-image: linear-gradient(#2670a8 0%, #144469 100%);
}

a.btn.green {
	background-image: -webkit-linear-gradient(#32c766 0%, #188e34 100%);
	background-image: -moz-linear-gradient(#32c766 0%, #188e34 100%);
	background-image: linear-gradient(#32c766 0%, #188e34 100%);
}
a.btn.green:hover {
	background-image: -webkit-linear-gradient(#22ab52 0%, #15752b 100%);
	background-image: -moz-linear-gradient(#22ab52 0%, #15752b 100%);
	background-image: linear-gradient(#22ab52 0%, #15752b 100%);
}

#main {
	padding-bottom: 14px;
}
#main div.left {
	width: 128px;
	padding-top: 30px;
	float: left;
}
#main div.right {
	width: 620px;
	padding-left: 32px;
	float: left;
}
#main h1 {
	margin-top: 10px;
	margin-bottom: 0;
}
#main h2 {
	font-size: 16px;
	color: gray;
	margin-top: 8px;
}
#main p {
	font-size: 14px;
	line-height: 1.4em;
}
div.column {
	margin-right: 14px;
	width: 246px;
	float: left;
}
div.feature h3 {
	font-size: 14px;
	margin-bottom: 0;
}
div.feature p {
	font-size: 13px;
	line-height: 1.5em;
	margin-top: 6px;
}

#gallery {
	padding-top: 12px;
	padding-bottom: 10px;
}
#gallery img {
	margin-right: 6px;
	border: 1px rgb(175,175,175) solid;
}
